
<div id="signup_page" class="container">

  <div class="row justify-content-center">
    <h4 class=default_title>新規登録する</h4>
  </div>
  
  <div class="row justify-content-center">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
  </div>  
    
  <div class="row justify-content-center">  
    <div class="field">
      <%= f.label :ニックネーム, class: "standard_form_label" %><br />
      <%= f.text_field :nickname, class: "standard_form", placeholder: "例:　シェルフくん" %>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="field">
      <%= f.label :メールアドレス, class: "standard_form_label" %><br />
      <%= f.email_field :email, class: "standard_form", autocomplete: "email", placeholder: "例:　mail@shelf.com" %>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="field">
      <%= f.label :パスワード, class: "standard_form_label" %><br />
      <%= f.password_field :password, class: "standard_form", autocomplete: "new-password", placeholder: "例:　6文字以上の半角英数字" %>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="field">
      <%= f.label :パスワード（確認用）, class: "standard_form_label" %><br />
      <%= f.password_field :password_confirmation, class: "standard_form", autocomplete: "new-password", placeholder: "" %>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="actions">
      <%= f.submit "登録する", class: "btn_form_submit btn_skyblue btn" %>
    </div>
    <% end %>
  </div>
  
  <div class="wrapper_form_aux">
  
    <div class="row justify-content-center">
      <div class="line"></div>
    </div>
  
    <div class="row justify-content-center">
      <%= link_to "ログインはこちら", new_session_path(resource_name) %><br />
    </div>
    
  </div>
    
</div>
