
<div class="container card">
  
  <div class="row fst_wrapper">
    <div class="col-4">
      <%= image_tag 'city.png', class:"prf-img" %>
    </div>
    <div class="col-8">
      <div class="row name_email_wrapper">
        <span class="col-12 nickname"><%= @user.nickname %></span>
        <span class="col-12 email"><%= @user.email %></span>
      </div>
    </div>
    
    <i><%= link_to "", profile_edit_path, id: "edit_prf_name_email", class: "nav-link fas fa-edit fa-2x edit_prf" %></i>
    
  </div>
  
  <div class="line"></div>
  
  <div class="row justify-content-center snd_wrapper">
    <div class="col-5 introduce-comment">
        <p>ここ最近、AI関連の本ばかり読んでます</br>
        よろしくお願いします</br>
        まみむめも〜</br></p>
    
    </div>
    
    
      <i><%= link_to "", profile_edit_path, id: "edit_prf_comment", class: "nav-link fas fa-edit fa-2x edit_prf" %></i>
    
    
  </div>
  
  <div class="line"></div>
  
  <div class="row justify-content-center">
    <div class="col-1 num-books">
      <p><i class="fas fa-book"></i>82</p>
    </div>
  </div>
</div>



