
<div id="forget_page" class="container">

  <div class="row justify-content-center">
    <h4 class="default_title">パスワードの変更</h4>
  </div>  

  <div class="row justify-content-center">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  </div>
  
  <div class="row justify-content-center">
    <div class="field">
      <%= f.label :メールアドレス, class: "standard_form_label" %><br />
      <%= f.email_field :email, class: "standard_form", autocomplete: "email" %>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="actions">
      <%= f.submit "送信する", class:"btn_form_submit btn_skyblue btn btn_rspnsv" %>
    </div>
  </div>
  
  <% end %>
  
  <div class="wrapper_form_aux">
  
    <div class="row justify-content-center">
      <div class="line"></div>
    </div>
    
    <div class="row justify-content-center">
      <%= link_to "戻る", new_session_path(resource_name), class: "" %><br />
    </div>
    
  </div>

</div>