<% provide(:tags_checkbox, 'books/tags_checkbox' ) %>
<% provide(:navbar, "fixed-top") %>

<div id="books_page" class="container">  

<i class="fas fa-sort-numeric-down-alt"></i>
  <div class="row justify-content-center">
    
    <div class="container"> 

        <div class="row justify-content-center row_search_field" >
          <div class="search_filed_wrapper">
            <%= form_tag(serach_books_path,:method => 'get') do %>
            <%= text_field_tag :search_books, "", class:"search_field" %>
            <input type="hidden" name="user_id" value="<%= @user.id %>">
            <i class="fas fa-search search_btn"><%= submit_tag '', :name => nil, class: "search_books_submit" %></i>
            </div>
          <% end %>
          
            
          
          </div>
          
            <div class="row justify-content-center row_plus_btn">
              <div id="tooltip_add_book" data-toggle="tooltip" data-html="true" data-placement="top" title='<span>本の追加</span>'>
                <button type="button" id="btn_plus_book" class="btn-plus" data-toggle="modal" data-target="#create_book"  >
                  
                  <% if request.from_smartphone? %>
                    <i class="fas fa-plus fa-lg"></i>
                  <% else %>
                    <i class="fas fa-plus fa-lg"></i>
                  <% end %>
                  
                </button>
              </div>
            </div>
    
        <div class="modal fade" id="create_book" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title default_title" id="exampleModalLabel">タイトル</h5>
                
              </div>
              <div class="modal-body popup_new_tag">
                
                <form role="form" action="/guess" method="get">
                <input type="hidden" name="user_id" value="<%= @user.id %>">
                <input type="text" class="new_book_title modal_field" name="new_book_title" placeholder="本のタイトルを入力" size="40">
                
              </div>
              <div class="modal-footer">
                
                <p class="error_modal"><%= @error_msg %></p>
                
                <button type="button" class="btn btn-secondary btn_modal" data-dismiss="modal" onclick="cxlTooltip()">戻る</button>
                <button type="submit" class="btn btn_skyblue btn_modal" onclick="displayGuess()" >検索</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  
  
    
      
      
   
      <% if !@guess.nil? %>
        <div id="guess_area" class="container">  
        
          <div class="row justify-content-center">
         
            <div class="guess_wrapper">
            
              <% if !@guess.empty? %>
                
                <div class="row justify-content-center">
                  <% @guess.each.with_index do |g,i| %>
                    
                    <div class="col-3">
                      <form id="guessed_book_form" action="/book-new" method="post">
                        
                        <input type="hidden" name="user_id" value="<%= @user.id %>">
                        <div class="guessed_book" onclick="submitGuessBook(this)">
                          <input type="hidden" name="[book][title]" value="<%= g.title %>">
                          <input type="hidden" name="[book][price]" value="<%= g.item_price %>">
                          <input type="hidden" name="[book][proper_title]" value="<%= g.sub_title %>">
                          <input type="hidden" name="[book][author]" value="<%= g.author %>">
                          <input type="hidden" name="[book][image]" value="<%= g.medium_image_url %>">
                          <input type="hidden" name="[book][purchase_url]" value="<%= g.affiliate_url %>">
                          <%= image_tag g.medium_image_url, class:"" %> 
                        </div>
                          
                      </form>
                    </div>
                  <% end %>
                </div>
              <% else %>
                <div class="row justify-content-center">
                  <p class="info">候補がありません</p> 
                </div>
              <% end %>
            
              <div class="row justify-content-end btn_wrapper">
       
                <form role="form" action="/book-new" method="post">
                  <input type="hidden" name="user_id" value="<%= @user.id %>">
                  <input type="hidden" name="[book][title]" value="<%= @book_title %>">
                  <button type="button" class="btn btn-secondary btn_modal" onclick="toBackPage()">戻る</button>
                  <button type="submit" class="btn btn-secondary btn_modal" onclick="">候補から選ばない</button>
                </form>  
          
              </div>
            </div>
          </div>
        </div>
      <% end %>
     
      
      
  
  
  <div id="sort_section" class="row justify-content-end">
    
    <div class="col-6 sort_btns">
      <button class="sort_btn" data-toggle="collapse" href="#collapse_sort_area" role="button" aria-expanded="false" aria-controls="collapse_sort_area" onclick="openTagsArea()">
        <i id="sort_icon_tag" class="fas fa-tags"></i>
      </button>
      <button class="sort_btn" type="button" data-toggle="collapse" data-target="#collapse_sort_area" aria-expanded="false" aria-controls="collapse_sort_area" onclick="openOrderArea()">
        <i id="sort_icon_sort" class="fas fa-sort-amount-down"></i>
      </button>
    
      <button type="button" id="switch_to_gallery" class="sort_btn" onclick="switchToGallery()" >
        <i  class="fas fa-th"></i>
      </button>
      <button type="button" id="switch_to_thumb" class="sort_btn no_display" onclick="switchToThumb()" >
        <i class="fas fa-th-list"></i>
      </button>
      
    </div>
  </div>

<div class="row justify-content-center">
  <div class="sort_window">

    <div class="collapse" id="collapse_sort_area">
        <div class="card card-body sort_area">
          
          
          <%= form_tag('/sort_by',method: :post, id: "sort_by", name:"sort_form") do %>
            <input type="hidden" name="user_id" value="<%= @user.id %>">
            
            <div id="tags_area" class="tags_area">    
              
              <%= render 'books/tags_index' %>
                
            </div>
          
          
            <div id="order_area" class="order_area">
              
              <%= render 'books/sort_order' %>
              
            </div>
          
             <div class="row justify-content-end btns">
                <button type="button" class="btn btn_bayoux btn_modal" onclick="orderReset()"><i class="fas fa-undo-alt fa-lg"></i></button>
                <button type="button" class="btn btn_skyblue btn_modal" onclick="sortBy()"><i class="fas fa-random fa-lg"></i></button>
              </div>
            
            <% end %>
    
        </div>
        
    </div>
  </div>   
</div>
    
  
  
  <div id="books_area" class="">
    
    <div class="for_display_row row justify-content-center">
      
      <div class="row justify-content-start no-gutters card_books_row">
    
        <% @books.each.with_index(1) do |b, i| %>
          
          <input type="hidden" name="book_id" value="<%= b.id %>">
          
         
            <div class="for_display_col col">
              <div class="justify-content-center row_card_books"><!-- row_card_books -->
                
                <a href="/details/<%= b.id %>">
                <div class="">
                <div id="book_<%= i %>" class="row card_books justify-content-start">
                  <div class="">
                    <% if b.image? %>
                      <%= image_tag b.image.url, class:"image_card_books" %> 
                    <% else %>
                      <%= image_tag 'no_img_book.png', class:"image_card_books" %>
                    <% end %>
                  
                  </div>
                  
                  
                  
                    <div class="col-6 books_card_wrapper_center">
                      <h6 class="title_card_books"><%= b.title %></h6>
                      <p class="memo_card_books"><%= b.memo %></p>
                    </div>
                    
                    <div class="books_card_wrapper_right">
                      <% if b.price%>
                        <p class="price_card_books">¥ <%= b.price %></p>
                      <% end %>
                      <div class="row icons_card_books">
                    
                        <% if b.own %>
                          <i class="fas fa-fist-raised fa-lg icon_own_active"></i>
                        <% else %>
                          <i class="fas fa-fist-raised fa-lg icon_inactive"></i>
                        <% end %>
                        
                        <% if b.favorite %>
                          <i class="fas fa-heart fa-lg icon_fav_active"></i>
                        <% else %>
                          <i class="fas fa-heart fa-lg icon_inactive"></i>
                        <% end %>
                        
                      </div>
                    </div>
             
                  </div>
                  </div>
                </a>
              
              </div><!-- row_card_books -->
              
            </div><!-- gallery_col -->

        <% end %>
    
      </div>
    </div>
  </div>
  
  
</div>