<% provide(:tags_checkbox, 'books/tags_checkbox' ) %> <% provide(:navbar, "fixed-top") %>

<div id="books_page" class="container">
    <i class="fas fa-sort-numeric-down-alt"></i>
    <div class="row justify-content-center">
        <div class="container">
            <%= render 'books/index/search_books' %> 
            <%= render 'books/index/plus_btn' %>
        </div>
    </div>

    <%= render 'books/index/guess_area' %> 
    <%= render 'books/index/sort_area' %> 
    <%= render 'books/index/books_cards' %>
</div>
