

<div class="container">
  
  <div class="row">
    <div class="page_title_card">
      <h2><i class="fas fa-tags"></i> タグ</h2>
    </div>
    <button type="button" id="btn_plus_tag" class="btn_skyblue" data-toggle="modal" data-target="#create_tag">
      ＋
      </button>
  </div>


    <!-- Modal -->
    <div class="modal fade" id="create_tag" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">タイトル</h5>
            
          </div>
          <div class="modal-body popup_new_tag">
            
            <form role="form" action="/tag-new" method="post">
            <input type="hidden" name="user_id" value="<%= @user.id %>">
            <input type="text" name="new_tag_title" placeholder="例:　実用書、ライトノベル、英語 etc..." size="40">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">戻る</button>
            <button type="submit" class="btn btn_skyblue" >追加</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    
   
  <div class="">
    
    <form action="/tag" method="post" class="tag_form">
      
      <input type="hidden" name="user_id" value="<%= @user.id %>">
      
        <div id="tags" class="container">

            
          <div class="tag">
            <div class="row">
              
            <% @tags.each.with_index(1) do |t, i| %>
              <div class="col-3">
                
                  <div class="tag_wrapper">
                    <input type="text" name="<%= t.id %>[tag_title]" value="<%= t.tag_title %>" size="16">
                    <i><%= link_to "", "/tag/#{t.id}", class: "fas fa-times btn_bayoux delete_tag", method: :delete, data: { confirm: "削除しますか？" }  %></i>
                  </div>
                
              </div>
              
              
              <% if i % 4 == 0 %>
                </div>
                <div class="row">
              <% end %>
              
            <% end %>
            </div>
          </div>
        </div>
    
      <button type="submit" value=""></button>
    </form>
    
    
  </div>
