<!DOCTYPE html>
<html>
 
  <head>
    <title>Shelf</title>
    <%= csrf_meta_tags %>
    
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    
    <%= render 'layouts/webfont' %>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  
  <body class="<%= 'bg_white' unless user_signed_in? %>">
  
  <div id="contents_wrapper">
  
  
    <%= render 'layouts/side_menu' %>
 
    <%= render 'layouts/nav' %>
    
    
    <!-- flash -->  
    
    <div class="row justify-content-center">
      
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
        
    </div>
    
    <%= yield %>
  
  </div>
  
  <!-- footer -->  
  
  <footer class="footer">
    <div class="row justify-content-center <%= yield(:footer) %>">
      <p class="copyrights">Copyrights &copy; 2020 Shelf All Rights Reserved</p>
    </div>
  </footer>
  
  </body>
  
</html>
