<!DOCTYPE html>
<html>
  

  <head>
    <title>Shelf</title>
    <%= csrf_meta_tags %>
    
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap" rel="stylesheet">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  

  <% unless user_signed_in? %>
    <body style="background: white;" >
  <% else %>
    <body>
  <% end %>
  
  <% unless user_signed_in? %>
    <nav class="navbar navbar-light nav-white">
  <% else %>
    <nav class="navbar navbar-light">
  <% end %>
  
        <span class="navbar-brand"><i id="logo_icon" class="fas fa-book"></i>
        <%= link_to"Shelf", 
        if user_signed_in?
          profile_path
        else
          root_path
        end,
        id: "logo" %>
        </span>
        
      <ul class="nav justify-content-end">
        <li class="nav-item">
          
          <% if user_signed_in? %>
          
            <li class="nav-item">
              <%= link_to"プロフィール", profile_path, class: "nav-link" %>
            </li>
            
            <li class="nav-item">
              <%= link_to"タグ", tags_path, class: "nav-link" %>
            </li>
            
            <li class="nav-item">
              <%= link_to"ログアウト", logout_path, method: :delete, class: "nav-link" %>
            </li>
          
          <% elsif current_page?(root_path) %>
          
            <li class="nav-item">
              <%= link_to"ログイン", login_path, id: "btn_to_login", class: "nav-link btn_text btn_nav" %>
            </li>
            
            <li class="nav-item">
              
              <%= link_to"新規登録", signup_path, id: "btn_to_signup", class: "nav-link btn btn_skyblue btn_nav" %>
            </li>
          
          <% else %>

          <% end %>
        
      </ul>
      
    </nav>
    
  
      
    <% if notice %>
      <div class="container">
        <div class="row justify-content-center">
            <p class="notice"><%= notice %></p>
      </div>
    <% end %>
        
    
    
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  
  </body>

  <!-- footer -->  
  
</html>
